# Игнорировать содержимое папок bin и obj
**/[Bb]in/
**/[Oo]bj/

# Игнорировать файлы сессий NuGet
**/*.nuget.dgspec.json
**/*.nuget.g.props
**/*.nuget.g.targets

# Игнорировать файлы кэша и локальных настроек IDE
**/.vs/
**/.vscode/
*.user
*.suo
*.userprefs

# Игнорировать временные файлы, создаваемые при выполнении
project.lock.json
project.fragment.lock.json
artifact.xml
**/*.tmp
**/*.cache
**/*.tgz

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

/front/build
/front/node_modules
