* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Candara', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    background-position: center;
    background-image: url(/src/img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#container {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1;


}

#container .logo {
    width: 80px;
    background: orange;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    background-color: white;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    padding: 20px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    background: linear-gradient(orange 0 0) bottom /var(--t, 0) 2px no-repeat;
    transition: .5s;
}

.navbar ul li a:hover {
    color: rgb(22, 22, 22);
    font-weight: 900;
}

.navbar ul li a:active {
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.navbar ul li a:link {
    color: rgb(31, 31, 31);
}

.Home {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;

}

.Hometext {
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
    background-position: center;
    font-size: 25px;
    background-image: url(/src/img/Home.jpg);
    background-size: 1050px 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
}

.Hometext h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    font-size: 35px;
}

.Hometext h5 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.button {
    padding: 16px 42px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #e0de5e;
    text-decoration: none;
    color: black;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;
    margin-top: 20px;
}

.buybutton {
    padding: 10px 38px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #ffa500;
    text-decoration: none;
    color: black;
    font-size: 14px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;
    margin-top: 100px;
}

.buybutton-description {
    padding: 10px 38px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #ffa500;
    text-decoration: none;
    color: black;
    font-size: 25px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;
    margin-top: 100px;
}

.Homelist {
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
    font-size: 28px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    background-color: white;
}

.push {
    list-style: none;
    margin-top: 20px;
}

.push li {
    position: relative;
    padding: 20px 0 20px 40px;
    color: #000000;
    font-variant: small-caps;
    font-weight: bold;
    cursor: pointer;
}

.push li:before {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #4F5151;
    content: "";
    left: 0;
    transition: .3s ease-in-out;
    top: 27px;
}

.push li:after {
    position: absolute;
    border-left: 1px dotted #4F5151;
    width: 1px;
    bottom: -12px;
    content: "";
    left: 3px;
    top: 48px;
}

.push li:hover:before {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .2)
}

.push li:last-child:after {
    content: none;
}


.section__padding {
    padding: 4rem 4rem;
}

.footer {
    background-color: #1b1b1b;
    margin-top: 30px;
}

.sb__footer {
    display: flex;
    flex-direction: column;
}

.sb__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.sb__footer-links_div {
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}

a {
    color: rgb(179, 179, 179);
    text-decoration: none;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sb__footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}

.sb__footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.sb__footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sb__footer-below-links {
    display: flex;
    flex-direction: row;
}

.sb__footer-below-links p {
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
}

hr {
    color: white !important;
    width: 100%;
    margin-bottom: 7px;
}

.sb__footer-copyright p {
    font-size: 13px;
    line-height: 15px;
    color: white;
    font-weight: 600;
}

@media screen and (max-width: 850px) {
    .sb__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .sb__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .sb__footer-links div {
        margin: 1rem 0;
    }

    .sb__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }

    .sb__footer-below {
        flex-direction: column;
        justify-content: left;
    }

    .sb__footer-below-links {
        flex-direction: column;
    }

    sb__footer-below-links p {
        margin-top: 0rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .sb__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}

.Signup {
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
    padding: 50px;
    padding-bottom: 80px;

}

.Signup input {
    border-radius: 10px;
    border-width: 1px;
    padding: 8px 7px;
    font-size: 18px;
    width: 600px;
}

.Signup select {
    border-radius: 10px;
    border-width: 1px;
    padding: 8px 7px;
    font-size: 18px;
    width: 600px;
}

.Signup option {
    border-radius: 10px;
    font-size: 18px;
    color: black;
}

.form-text {
    margin-top: 10px;
    line-height: 40px;
}

.Signup img {
    width: 200px;
    background: orange;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}

.Signup a {
    line-height: 30px;
}


.Signup h4 {
    font-size: 25px;
}

.AddCat {
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
    padding: 50px;
    padding-bottom: 80px;

}

.AddCat input {
    border-radius: 10px;
    border-width: 1px;
    padding: 8px 7px;
    font-size: 18px;
    width: 600px;
}

.AddCat .form-text {
    margin-top: 10px;
    line-height: 40px;
    margin-bottom: 40px;
}

.AddCat a {
    line-height: 30px;
}


.AddCat h4 {
    font-size: 25px;
}

.AddCat h1 {
    margin-top: 10px;
    margin-bottom: 40px;
}

.Subscription {
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;
    text-align: center;
}

.Subscription h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

.Sub-plans {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.Sub-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #ffc130;
    border-radius: 10px;
}

.Payment-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;
    justify-content: center;
}
.Payment-details button{
    margin-top: 20px;
    width: 600px;
}

.Payment-content-head {
    text-align: center;
}

.Payment-content-head h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

.Payment-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Payment-form {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.form-details {
    margin-top: 20px;
    font-size: 20px;
}
.form-details input{
    border-radius: 10px;
    border-width: 1px;
    padding: 8px 7px;
    font-size: 18px;
    width: 600px;
}

.Payment-form input{
    border-radius: 10px;
    border-width: 1px;
    padding: 8px 7px;
    font-size: 18px;
    width: 290px;
}

.aboutus-text {
    border-radius: 20px;
    margin-top: 30px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 50px;
}

.aboutus-text h2 {
    text-align: center;
    margin-bottom: 20px;
}

.aboutus-text h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

.toys-catalog {
    border-radius: 20px;
    margin-top: 30px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 10px 30px 30px 30px;
}

.toy-details {
    border-radius: 20px;
    margin-top: 30px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 50px;
}

.toy-details-img img {
    height: 400px;
    width: 390px;
    margin-right: 20px;
}

.toy-details-description {
    font-size: 20px;
}

.toy-details-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toy-details-button {
    text-align: center;
}

.toy-details-content h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.toy-details-description p {
    line-height: 30px;
}

.content {
    display: flex;
    flex-direction: row;
}


.toys-catalog h1 {
    text-align: center;
    margin-bottom: 50px;
}

.category {
    margin-right: 10px;
}

.category select{
    border-width: 1px;
    padding: 8px 7px;
    font-size: 20px;
    width: 350px;
}

.toy-item img {
    cursor: pointer;
    height: 250px;
    width: 230px;
    text-align: center;
    border-radius: 10px;
}

.toys-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 50px;
}

.toy-item {
    border-radius: 20px;
    padding: 10px 10px 25px 10px;
    border: #000000;
    border: 1px;
}

.toy-name{
    color: #000000;
}

.button-item {
    margin-top: 30px;
    text-align: center;
}

.menu-item {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.menu-item:hover .dropdown {
    display: block;
}

.dropdown-item {
    padding: 5px 10px;
    white-space: nowrap;
}

.toy-details-button {
    margin-top: 50px;
}

.price {
    margin-top: 10px;
}

.order-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный черный фон */
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    pointer-events: auto;
    /* Включаем указатели для всего слоя */
}

.order {
    background-color: white;
    width: 50%;
    height: 100%;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    pointer-events: auto;
    position: relative;
    
}

.back-link {
    font-size: 20px;
}



.close-order {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.search-category-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search-category-container input {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 50px; 
    width: 500px;
    font-size: 16px; 
}

.search-category-container h1 {
    margin-top: 45px;
}


.category select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
}

.searchIcon {
    width: 40px;
    height: 40px;
}

.search {
    display: flex;
    align-items: center;
}

.filters {
    margin-right: 40px;
    height: 450px;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    max-width: 350px;
}

.price-filter {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}


.age-filter {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.line {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px; /* Подстраивайте отступ по вашему желанию */
}

.cart-items {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-item p{
    font-size: 19px;
}

.cart-item img {
    width: 100px;
    height: 100px;
}

.cart-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cart-item-details {
    margin-left: 10px;
}



.cart-item .crossIcon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.Order-clear {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Order-clear .crossIcon{
    margin-top: 3px;
    margin-right: 5px;
    width: 10px;
    height: 10px;
}


.Order-clear h1{
    margin-right: 15px;
}

.Order-clear h2{
    color: #000000;
    margin-right: 15px;
    cursor: pointer;
}

.Order-clear h2:hover{
    color: #747474;
}

.CartIcon {
    height: 45px;
    width: 45px;
}

.payment-button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f8f8f8; /* Add background color for contrast */
}

.payment-button {
    width: 100%;
    background-color: #ffd61e;
    color: rgb(0, 0, 0);
    padding: 15px 0; /* Adjust padding for better look */
    border: none;
    border-radius: 0; /* Remove border-radius for full width button */
    cursor: pointer;
    font-size: 25px;
    text-align: center;
}

.payment-button:hover {
    background-color: #dec13c;
}

.total-sum {
    text-align: right;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
}
.token-display {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: orange;
    border-radius: 30px;
  }
  
  .blue-circle {
    background-color: blue;
    color: white;
    border-radius: 55%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 5px;
  }
  
  .token-count {
    font-weight: bold;
    font-size: 18px;
  }